*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/*root selector*/
:root{
    --yellow: hsl(47, 88%, 63%);
    --black: hsl(0, 0%, 7%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
}

/*Body*/
body{
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Figtree, sans-serif;
    font-size: 15px;
}
/*Card body*/
#card{
   border: 1.8px solid var(--black);
    width: 450px;
    height: 500px;
    margin: 60px auto;
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 8px 8px 0px 0px var(--black);
   
}
.card-btn{
    border: 1px solid transparent;
    width: 95px;
    padding: 0.5em;
    position: relative;
    left: 15px;
    top: 4em;
    background-color: var(--yellow);
    border-radius: 6px;
    text-align: center;
    font-weight: 600;
}
.card-btn:hover{
    cursor: pointer;
    background-color: var(--grey);
    color: var(--white);
    
}
.card-date{
    position: relative;
    left: 15px;
    top: 4.8em;
}
.card-title{
    position: relative;
    left: 15px;
    top: 4.7em;
    font-weight: 800;
    font-size: 18px;
}
.card-details{
    position: relative;
    left: 15px;
    top: 7em;
    color: var(--grey);
    line-height: 1.6rem;
}
.card-pic{
    position: relative;
    left: 0rem;
    top: 8em;
    margin-bottom: -60px;
    width: 70px;
}
.card-author{
    position: relative;
    left: 4rem;
    top: 9em;
    font-weight: 600;
}
/*Image*/
img{
    width: 350px;
    position: absolute;
    top: 4rem;
    padding: 1rem;
    border-radius: 25px;
}

/*Screen sizes*/
@media (min-width: 360px) and (max-width: 1440px){
    #card{
        width: 340px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 8px 8px 0px 0px var(--black);
    }
    
    body{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    img{
        width: 340px;
        position: absolute;
        top: 4rem;
        padding: 1rem;
        border-radius: 25px;
    }
    
}

@media (max-width: 280px){
    #card{
        width: 268px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 7px 7px 0px 0px var(--black);
    }
    
    body{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    img{
        width: 270px;
        position: absolute;
        top: 4rem;
        padding: 1.5em;
        border-radius: 30px;
    }
    .card-btn{
        border: 1px solid transparent;
        width: 95px;
        padding: 0.5em;
        position: relative;
        left: 15px;
        top: 2em;
        background-color: var(--yellow);
        border-radius: 6px;
        text-align: center;
        font-weight: 600;
    }
    .card-date{
        position: relative;
        left: 15px;
        top: 3em;
    }
    .card-title{
        position: relative;
        left: 15px;
        top: 3.7em;
        font-weight: 800;
        font-size: 18px;
    }
    .card-details{
        position: relative;
        left: 15px;
        top: 5.7em;
        color: var(--grey);
        width: 90%;
        line-height: 1.6rem;
    }
    .card-pic{
        position: relative;
        left: 0rem;
        top: 6em;
        margin-bottom: -60px;
        width: 80px;
    }
    .card-author{
        position: relative;
        left: 4rem;
        top: 7em;
        font-weight: 600;
    }
}

